<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
  body
    form(action="/gallery" method="POST" enctype="x-www-form-urlencoded")
      fieldset
        legend Gallery Info:
        label Name: 
          input(type="text" id="name" name="author" placeholder="Enter your full name")
        br
        label Link: 
          input(type="text" id="link" name="url" placeholder="Place the link for the image")
        br
        label Description: 
          input(type="text" id="description" name="description" placeholder="Enter a short description about the photo")
        br
        br
        input(type="submit" value="Submit")