doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
  body
    hr(class="dash")
    h1 _ARCHITEKT


