doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
    link(rel="stylesheet" type="text/css" href="/css/styles.css")
  body
    div(class="page-wrap")
      hr(class="dash")
      div(class="contain")
        div(class="header")
          h1 _ARCHITEKT
        div(class="paraIntro")
          p(class="intro") Welcome to our online portfolio, we are small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme
      div(class="secret")
        h1 For #{role}'s eyes only...
        a(href="/logout") Logout