/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
@import url(https://fonts.googleapis.com/css?family=Roboto:400);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.page-wrap {
  display: block;
  margin: 5em 20% 5em 20%;
  align-content: space-between; }

.contain {
  margin-top: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.dash {
  border: 0 none;
  border-top: 1px dotted #c7c7c7;
  background: none;
  height: 0; }
  @media (min-width: 100px) and (max-width: 600px) {
    .dash {
      display: none; } }

.firstLine, .secondLine, .thirdLine {
  border: 0 none;
  border-top: 1px solid #c7c7c7;
  background: none;
  height: 0; }

.header {
  font-family: "Roboto", sans-serif;
  color: #7d787e;
  font-weight: 500;
  font-size: 4em;
  letter-spacing: .05em;
  box-sizing: border-box;
  flex: 1 1 auto;
  float: left; }

.paraIntro {
  height: 5em;
  width: 14em;
  line-height: .7em;
  box-sizing: border-box;
  flex: 0 0 auto;
  float: right; }
  @media screen and (max-width: 1045px) {
    .paraIntro {
      display: none; } }
  @media (min-width: 100px) and (max-width: 600px) {
    .paraIntro {
      display: none; } }

.intro {
  font-family: "Roboto", sans-serif;
  font-size: .15em;
  color: #c7c7c7;
  border-left: 0.1em solid #c7c7c7;
  padding-left: 1em; }
  @media (min-width: 100px) and (max-width: 600px) {
    .intro {
      display: none; } }

.mainImg {
  margin-top: 1em; }

.multImg {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.gallery_post {
  width: 300px; }

.bottomMultiImg {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.gallery_posttwo {
  width: 300px; }

.contentImg {
  display: flex;
  box-sizing: border-box;
  margin-top: 2em;
  justify-content: center; }

img {
  width: 100%; }

.imgDescrip {
  font-family: "Roboto", sans-serif;
  color: #c7c7c7;
  font-size: .8em;
  margin: 2em; }

.formDescrip {
  display: flex;
  justify-content: center;
  margin-top: 2em; }

legend {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  color: #c7c7c7;
  margin-bottom: .3em; }

label {
  font-family: "Roboto", sans-serif;
  font-size: .8em;
  color: #c7c7c7; }

input {
  margin-bottom: .1em; }

.name, .link {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #c7c7c7;
  height: 2em;
  width: 80%; }

.description {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #c7c7c7;
  height: 6em;
  overflow: auto;
  vertical-align: top;
  width: 80%;
  padding: .3em; }

.submit {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #c7c7c7;
  width: 82%;
  height: 2em;
  border-radius: .2em;
  background-color: #fff; }
  @media (min-width: 100px) and (max-width: 600px) {
    .submit {
      width: 83%; } }

.submit:hover {
  background-color: #c7c7c7;
  color: #fff; }

.login {
  justify-content: center; }

.loginForm {
  margin-top: 4em;
  width: 465px; }

.login-modal {
  padding: 36px;
  border-radius: 3px;
  border: 1px solid #c7c7c7; }

.username, .password {
  font-size: .8em;
  width: 80%;
  height: 2em;
  margin-bottom: .5em;
  padding: .3em; }
